In [1]:
#importing libraries

import pandas as pd
import numpy as np
import csv

In [4]:
pwd

'C:\\Users\\User\\python-homework\\PyBank'

In [44]:
#reading the CSV File
budget_info = pd.read_csv("Resources/budget_data.csv")
print(budget_info)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [48]:
# Calculating number of months included in the dataset
total_months = len(budget_info['Date'].unique())
print(total_months)

86

In [49]:
#net total amount of Profit/Losses over the entire period
total_amount = sum(budget_info['Profit/Losses'])
total_amount

38382578

In [24]:
budget_info.Date

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [26]:
budget_info["Date"]= pd.to_datetime(budget_info.Date, format='%b-%Y')
budget_info.sort_values("Date", inplace=True)

In [27]:
#sorting the budget_info 
budget_info

         Date  Profit/Losses
0  2010-01-01         867884
1  2010-02-01         984655
2  2010-03-01         322013
3  2010-04-01         -69417
4  2010-05-01         310503
..        ...            ...
81 2016-10-01         102685
82 2016-11-01         795914
83 2016-12-01          60988
84 2017-01-01         138230
85 2017-02-01         671099

[86 rows x 2 columns]

In [28]:
budget_info2 = budget_info.set_index('Date').diff()
budget_info2

            Profit/Losses
Date
2010-01-01            NaN
2010-02-01       116771.0
2010-03-01      -662642.0
2010-04-01      -391430.0
2010-05-01       379920.0
...                   ...
2016-10-01      -665765.0
2016-11-01       693229.0
2016-12-01      -734926.0
2017-01-01        77242.0
2017-02-01       532869.0

[86 rows x 1 columns]

In [50]:
#average of the changes in Profit/Losses over the entire period
average = np.average(budget_info2['Profit/Losses'][1:])
average = round(average,2)
average

-2315.12

In [51]:
#greatest increase in profits
max_increase = np.max(budget_info2['Profit/Losses'])
max_increase = round(max_increase)
max_increase

1926159

In [52]:
#greatest decrease in losses
max_decrease = round(np.min(budget_info2['Profit/Losses']))
max_decrease

-2196167

In [53]:
# Adding financial analysis:
financial_analysis = ["Financial Analysis",
                      "----------------------------",
                      f"Total Months: {str(total_months)}",
                      f"Total: ${str(total_amount)}",
                      f"Average Change: ${round(average, 2)}",
                      f"Greatest Increase in Profits: {max_increase} (${str(max_increase)})",
                      f"Greatest Decrease in Profits: {max_decrease} (${str(max_decrease)})"]


for line in financial_analysis:
    print (line)

# adding financial analysis to a README.txt:
with open('README.txt', 'w') as f:
    for line in financial_analysis:
        f.write(line)
        f.write("\n")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: 1926159 ($1926159)
Greatest Decrease in Profits: -2196167 ($-2196167)